RewriteEngine On

# Thanks https://stackoverflow.com/a/8806785/319266
# - Versioned
RewriteCond %{QUERY_STRING} (^|&)v=
RewriteRule .* - [E=IS_STATIC:1]
# - Unversioned
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f
RewriteCond %{REQUEST_URI} images/(profile\.jpg|icon-[^/]+\.svg)$
RewriteRule .* - [E=IS_STATIC:1]
Header set Cache-Control "max-age=31536000, public, immutable" env=IS_STATIC

# Temporary to avoid clash with main site that isn't WordPress (yet)
RewriteRule "/feed/?" "-" [L]

# Redirect former Jekyll artefacts
Redirect 301 /feed.xml /feed/
Redirect 301 /assets/attachments/ /wp-content/uploads/
