{% comment %}

 Reminder: This file does mostly the same as feed.xml. Keep them in sync!

 Twitter Card (as of 9 Oct 2019).
 Ref https://cards-dev.twitter.com/validator.
 Ref https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image
 - og:title: Displayed.
             Trimmed at 40 characters for summary cards (placeholder box on the side),
             Trimmed at 55 characters for summary_large_image cards (image on top, title full width).
 - og:description: Displayed.
 - og:site_name: Ignored, URL domain is displayed instead.
 - og:author: Ignored.
 - og:image: Displayed, but only if og:image:alt is set as well (wow!).
             Twitter will generate a small thumbnail for you, however the original
             must still be no larger than 4096x4096 pixels or 5MB in size.
 - og:image:alt: Used as image alt, naturally (must be under 420 characters).

{% endcomment %}

<meta property="og:title" content="{{ page.plainwhite.og_title | default: page.title | default: site.title | strip_html | normalize_whitespace | escape }}">

{% if page.excerpt %}
	{% assign excerpt = page.excerpt %}
{% elsif page.layout == "home" %}
	{% assign excerpt = site.description %}
{% else %}
	{% assign excerpt = "" %}
{% endif %}
{% if excerpt and excerpt != empty %}
<meta name="description" content="{{ excerpt | strip_html | truncate: 210 | normalize_whitespace | escape }}">
<meta property="og:description" content="{{ excerpt | strip_html | truncate: 210 | normalize_whitespace | escape }}">
{% endif %}

{% if page.plainwhite.og_image_url and page.plainwhite.og_image_alt %}
{% if page.plainwhite.og_image_align != "aside" %}
<meta property="twitter:card" content="summary_large_image">
{% endif %}
<meta property="og:image" content="{{ page.plainwhite.og_image_url | absolute_url }}">
<meta property="og:image:alt" content="{{ page.plainwhite.og_image_alt | escape }}">
{% endif %}

{% if page.date %}
<meta property="og:type" content="article">
<meta name="author" content="{{ page.author | escape }}">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}
