@import 'ext/solarized-light';

$fontFamilySans: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;

$sidebarWidth: 220px;
$contentSpacing: 20px;
$contentSpacingMicro: 10px;

// "Micro" widths:
// - Nokia 8110 4G:     240px
// - iPhone 5/SE:       320px (Portrait)
$breakMicro: 320px; // max-width

// "Mobile" widths:
// - iPhone 6/7/8:      375px (Portrait)
// - iPhone 6/7/8 Plus: 414px (Portrait)
// - iPad: 768px (Portait)
$breakMobile: 770px; // max-width

// "Beyond mobile" widths:
// - iPad:              1024px (Landscape)
// - Generic Desktop:   771px-1000px (Custom)
$breakBeyondMobile: $breakMobile + 1px; // min-width

// "Wide" widths:
// - Generic Desktop:   1000px or wider (Custom)
$breakWide: 1000px; // min-width

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// Prevent iOS text size adjust after orientation change, without disabling user zoom.
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html, button {
	font-family: $fontFamilySans;
	font-size: 16px;
	line-height: 1.2;
}

body {
	// Reset UA
	margin: 0;
}

h1 {
	font-size: 2.1em;
	margin: $contentSpacing 0;
	font-weight: 600;
	@media screen and (max-width: $breakMicro) {
		margin: $contentSpacingMicro 0;
	}
}
h2 {
	font-size: 1.5em;
	font-family: $fontFamilySans;
	font-weight: 600;
	margin: 0.7em 0 0.3em;
}
h3,
.md-toc > li {
	font-size: 1.17em;
	font-family: $fontFamilySans;
	font-weight: 600;
	margin: 0.7em 0 0;
}
.md-toc {
	font-style: italic;
}
ul.md-toc {
	list-style: none;
	padding-left: 1em;
}
ul.md-toc > li:before {
	content: '§ ';
}
p {
	margin: 1em 0;
}
h2 + p,
h3 + p {
	margin-top: 0;
}

blockquote {
	color: inherit;
	font-size: 0.8em;

	margin: 1em (-$contentSpacing);
	border-left: 5px solid transparent;
	padding: 0.5em ($contentSpacing - 5px);
	@media screen and (max-width: $breakMobile) {
		margin: 1em 0;
		padding: 0.5em 1em;
	}
	@media screen and (max-width: $breakMicro) {
		margin: 1em (-$contentSpacingMicro);
		border-left-width: 3px;
	}
}
blockquote > p:first-child {
	margin-top: 0;
}
blockquote > p:last-child {
	margin-bottom: 0;
}

hr {
	clear: both;
	border: 0;
	margin: 1.5rem auto;
	height: 1px;
}

// See also assets/css/style.scss
.icon {
  speak: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  vertical-align: top;
}

@mixin screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	height: 1px;
	width: 1px;
}
.screen-reader-text {
	@include screen-reader-text;
}

pre.highlight {
	overflow: auto;
	font-family: Menlo, Monaco, monospace;
	line-height: 1.4;
	font-size: 17px;
	tab-size: 4;
	white-space: pre-wrap;
	white-space: break-spaces;
	overflow-wrap: break-word;

	padding: 1em $contentSpacing;
	@media screen and (max-width: $breakMicro) {
		padding: 1em $contentSpacingMicro;
	}
}
code.highlighter-rouge {
	padding: 0.3em 0.4em;
	font-family: Menlo, Monaco, monospace;
	font-size: 0.8em;
}

.wrap {
	margin: 0 auto;
	display: flex;
	height: 100%;
	max-width: $breakWide;

	@media screen and (max-width: $breakMobile) {
		flex-direction: column;
	}
}
.content {
	// Use border-box to make it easy to add padding
	// inside, within the given width/max-width.
	box-sizing: border-box;
	padding: 35px $contentSpacing;
	// For tooltip bubble sizing
	position: relative;

	@media screen and (max-width: $breakMobile) {
		// Remove top padding
		padding: 0 $contentSpacing;
	}
	@media screen and (max-width: $breakMicro) {
		padding: 0 $contentSpacingMicro;
	}
	@media screen and (min-width: $breakBeyondMobile) {
		max-width: calc(100% - 220px);
		flex: 1;
	}
}

.about {
	display: flex;
	flex: 0;
	max-width: $sidebarWidth;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 10vh auto 0 auto;
	// Ensure the About aligns with page header
	// where 35px = content padding-top
	$wideTop: 35px + $contentSpacing;
	margin: #{"min("$wideTop", 10vh)"} auto 0 auto;
	img {
		max-height: 150px;
	}
	h2 {
		font-size: 22px;
		margin: 25px 0 0 0;
		font-weight: normal;
	}
}
.tagline {
	font-size: 22px;
	margin: 18px 0;
}

.social {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
	li {
		display: inline-block; // Fallback for browsers without flex
	}
	a {
		display: inline-block;
		border-radius: 100%;
		font-size: 34px;
		line-height: 1;
	}
	.icon {
		opacity: 0.5;
	}
	.icon-mastodon {
		margin-top: 0.05em; // It just ain't right.
	}
	a:hover .icon {
		opacity: 1;
	}
}
@media screen and (max-width: $breakMobile) {
	.about {
		height: auto;
		margin-top: 5vh;
	}
	.about-sm {
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: initial;
		margin: 0;
		padding: $contentSpacing;
		.sitelink {
			display: flex;
			justify-content: flex-start;
			text-align: left; // For micro widths
			align-items: center;
		}
		img {
			max-width: 50px;
			max-height: 50px; // Support: KAIOS 2.5 / FF 48 (Fix aspect ratio)
		}
		h2 {
			margin: 0 0 0 $contentSpacing;
		}
		p {
			margin: $contentSpacingMicro 0;
		}
		.dark-toggle {
			margin: 0;
		}
		.tagline,
		.social,
		.footer {
			display: none;
		}
	}
}
@media screen and (max-width: $breakMicro) {
	.about {
		.sitelink {
			display: flex;
			justify-content: flex-start;
			text-align: left; // For micro widths
			align-items: center;
		}
		img {
			max-width: 50px;
			max-height: 50px; // Support: KAIOS 2.5 / FF 48 (Fix aspect ratio)
		}
		h2 {
			font-size: 18px;
			margin: 0 0 0 $contentSpacingMicro;
		}
	}
	.footer {
		display: none;
	}
	.tagline {
		font-size: 14px;
		margin: $contentSpacingMicro 0;
	}
	.social {
		a {
			font-size: 28px;
		}
	}

	.about-sm {
		padding: $contentSpacingMicro;
		h2 {
			margin: 0 0 0 $contentSpacingMicro;
		}
	}
}
@media screen and (min-width: $breakBeyondMobile) {
	.tagline {
		font-size: 18px;
		line-height: 1.6;
		margin: 1.2em 0;
	}
}

.dark-toggle {
	margin: 1rem 0;
	border: 0;
	border-radius: 2px;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	white-space: nowrap; // For micro widths
}
@media screen and (min-width: $breakBeyondMobile) {
	.dark-toggle {
		position: fixed;
		bottom: 1rem;
	}
}
.dark-notoggle .dark-toggle {
	display: none;
}

.posts-label {
	border-bottom: 1px solid transparent;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
	font-weight: normal;
}

a {
	color: inherit;
}
a.sitelink,
.post-link,
.post-date,
.post-tag {
	text-decoration: none;
}
// Link to post from listings (home page, tag page)
.posts-row .post-link:hover {
	text-decoration: underline;
}
.posts-row {
	// Match `hr` style
	margin-top: 1.5rem;
	border-bottom: 1px solid transparent;
	padding-bottom: 1.5rem;

	// For excerpts on tag pages
	.post p:last-of-type {
		margin-bottom: 0;
	}
}
header.post-meta {
	// Match `hr` style
	padding-bottom: 1.5rem;
	border-bottom: 1px solid transparent;
	margin-bottom: 1.5rem;
}
.post-date {
	text-transform: uppercase;
}
.post-tag {
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.post-title {
	margin: 0.7em 0;
	font-size: 28px;
}
.posts-row-short {
	.post-title {
		display: inline;
		font-size: inherit;
	}
}

.post {
	font-family: 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.7;

	@media screen and (min-width: $breakWide) {
		font-size: 20px;
		letter-spacing: -0.1px;
	}

	@media screen and (max-width: $breakMobile) {
		font-size: 17px;
	}

	a {
		text-decoration: none;
		border-bottom: 0.5px solid transparent;
		// Avoid scrollbars on mobile due to longer urls
		word-break: break-word;
	}
	strong {
		letter-spacing: -0.3px;
		font-size: 90%;
	}
	a:hover {
		border-bottom: 3px solid transparent;
	}
	a > code {
		text-decoration: underline;
		text-underline-position: under;
	}
	a:hover > code {
		background-color: transparent;
		text-decoration: none;
	}
	li {
		margin-top: 0.5em;
	}
	img {
		object-fit: scale-down;
		width: auto;
		height: auto;
		// Markup may have its own max-height or max-width,
		// which we'll honour. E.g. in combination with md-block-left.
		max-width: 100%;
		max-height: 100vh;
		@media screen and (max-width: $breakMobile) {
			// ... but, once we get to a certain narrow width,
			// honouring the inline style means it can end up
			// being bigger than the viewport and cause scrollbars.
			// This hack wouldn't be needed if CSS min()/clamp() had
			// wide browser support so that the inline markup
			// could use "max-width: min(380px, 100%)".
			max-width: 100% !important;
			max-height: 100vh !important;
		}
		@media screen and (min-width: $breakBeyondMobile) {
			cursor: zoom-in;
		}
	}
	// Turn simple images (those not in an already widened block),
	// effectively into a block as well.
	> p:not(.md-block) > img {
		max-width: calc( 100% + #{$contentSpacing} + #{$contentSpacing} );
		@media screen and (max-width: $breakMobile) {
			max-width: calc( 100% + #{$contentSpacing} + #{$contentSpacing} ) !important;
		}
		@media screen and (max-width: $breakMicro) {
			max-width: calc( 100% + #{$contentSpacingMicro} + #{$contentSpacingMicro} ) !important;
		}
	}
	a img {
		cursor: inherit;
	}
	figure,
	table,
	> p:not(.md-block) > img,
	.md-block,
	pre.highlight {
		margin-left: -$contentSpacing;
		margin-right: -$contentSpacing;
		@media screen and (max-width: $breakMicro) {
			margin-left: -$contentSpacingMicro;
			margin-right: -$contentSpacingMicro;
		}
	}
	figure > p {
		// No easy way in Kramdown to have <figcaption> and <img> in the
		// same box without the <img> getting a magic paragraph. This is
		// fine in un-floated contexts where the figure's margin and p's
		// margin collapse together. But when floated, they add up.
		margin: 0;
	}
	figcaption {
		font-family: $fontFamilySans;
		font-size: 15px;
		line-height: 1.5;
	}
}

.post {
	.md-box {
		outline: 2px solid transparent;
	}
	figure,
	.md-block {
		text-align: center;
	}
	table.md-block {
		border-spacing: 4px;
	}
	.md-block-right {
		text-align: center;
		@media screen and (min-width: $breakWide) {
			float: right;
			margin-top: 0;
			margin-bottom: 1em;
			margin-left: 0.75em;
		}
	}
	.md-block-left {
		text-align: center;
		@media screen and (min-width: $breakWide) {
			float: left;
			margin-top: 0;
			margin-bottom: 1em;
			margin-right: 0.75em;
		}
	}
	.md-right {
		clear: right;
		text-align: right;
	}
}

// Tooltip
[title]:not(a) {
	display: inline-flex;
}
[title]:not(a):focus,
[title]:not(a):focus:before {
	// Disable native hover tooltips (e.g. double tooltip on <abbr> or <time>),
	// by preventing native hover/click events from firing on the Tooltip handle
	// or Tooltip bubble (after activation).
	//
	// We can't use this approach on anchor elements, because focus is the first
	// step of a native tap/click. Preventing events on a:focus would mean the
	// link can never be clicked at all, and preventing it only on a:before:focus
	// is ineffective (link loads even clicking on the :before handle).
	//
	// Instead, for <a href title>, we need an additional <span title> inserted
	// in the HTML to be able to prevent propagating those clicks (using one
	// line of JS in _layouts/default.html).
	pointer-events: none;
}
[title]:not(a):focus:after,
a[title] > [title]:focus,
a[title] > [title]:focus:after {
	pointer-events: all;
}
// Tooltip bubble
[title]:not(a):focus:after {
	display: block;
	content: attr(title);
	position: absolute;
	z-index: 1;
	left: 0;
	right: $contentSpacing;
	margin-top: 2em;
	padding: 0.5em 1em;
	border-radius: 4px;
	font-size: 0.9em;
	font-family: $fontFamilySans;
	cursor: default;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.54));
	@media screen and (max-width: $breakMobile) {
	}
	@media screen and (max-width: $breakMobile) {
		position: fixed;
		left: ($contentSpacing / 2);
		bottom: ($contentSpacing / 2);
		width: calc(90vw - #{$contentSpacing});
		padding: 5vw;
		// reset
		margin-top: 0;
		right: auto;
	}
}
// Tooltip handle
[title]:not(a):before {
	// Change order so that this becomes another "after" pseudo-element
	order: 1;
	display: inline-block;
	content: "i";
	margin-left: 0.5em;
	border: 1px solid transparent;
	border-radius: 2em;
	width: 1em;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
}
[title]:not(a):before:focus {
	outline: 0;
	position: relative;
}

@mixin my-color-scheme($vars) {
	// Root and content styles
	body {
		background: map-get($vars, "backgroundRoot");
		color: map-get($vars, "textColorBase");
	}
	.post h2,
	.post h3,
	.post strong {
		color: map-get($vars, "textColorRoot");
	}

	// Muted styles and shades
	.about {
		color: map-get($vars, "textColorMuted");
	}
	.post-meta,
	.posts-row {
		border-color: map-get($vars, "textColorAccentMinor");
		color: map-get($vars, "textColorMuted");
	}
	.about-sm {
		@media screen and (max-width: $breakMobile) {
			background: map-get($vars, "backgroundPanel");
		}
	}
	blockquote {
		border-color: map-get($vars, "textColorAccentMinor");
		color: map-get($vars, "textColorMinor");
	}
	.posts-label {
		border-color: map-get($vars, "textColorAccentMinor");
		color: map-get($vars, "textColorAccent");
	}
	.post .md-box {
		outline-color: map-get($vars, "textColorAccentMinor");
		box-shadow: 2px 2px 10px map-get($vars, "textColorAccentMinor");
	}
	hr {
		background: map-get($vars, "textColorAccentMinor");
	}
	pre.highlight,
	code.highlighter-rouge {
		background: map-get($vars, "backgroundMarked");
		color: map-get($vars, "textColorMarked");
	}
	.post a > code {
		color: inherit;
	}
	// Button styles
	.dark-toggle {
		background: map-get($vars, "backgroundButton");
		color: map-get($vars, "textColorButton");
	}
	.dark-toggle:hover,
	.dark-toggle:focus,
	.dark-toggle:active {
		background: map-get($vars, "backgroundButtonActive");
		color: map-get($vars, "textColorButtonActive");
	}

	// Link styles
	a:hover,
	.post-tag {
		color: map-get($vars, "textColorLinkBase");
	}
	.post-link,
	.sitelink {
		color: map-get($vars, "textColorLinkRoot");
	}
	.post a {
		color: map-get($vars, "textColorLinkRoot");
		border-color: map-get($vars, "textColorLinkRoot");
	}
	a:hover {
		border-color: map-get($vars, "textColorLinkBase");
	}
	.post a:hover,
	.social a:hover {
		background: map-get($vars, "backgroundLinkBase");
		text-decoration-color: map-get($vars, "textColorLinkBase");
		outline-color: map-get($vars, "backgroundLinkBase");
		border-color: map-get($vars, "textColorLinkBase");
	}
	// Tooltip handle
	[title]:not(a):before {
		border-color: map-get($vars, "textColorMuted");
	}
	[title]:not(a):focus:before {
		border-color: map-get($vars, "textColorLinkBase");
	}
	.post a:hover {
		box-shadow: 0px 0px 0px 5px map-get($vars, "backgroundLinkBase");
	}
	[title]:focus:before,
	.social a:hover {
		box-shadow: 0px 0px 0px 20px map-get($vars, "backgroundLinkBase");
	}

	// Tooltip bubble
	[title]:focus:after {
		background: map-get($vars, "textBackBubble");
		color: map-get($vars, "textColorBubble");
	}

	::selection {
		color: map-get($vars, "textColorSelected");
		background-color: map-get($vars, "backgroundSelected");
	}
}

$lightModeVars: (
	"backgroundRoot": #fff,
	"backgroundPanel": #f4f4f4,
	"textColorRoot": #111,
	"textColorBase": #333,
	"textColorMinor": #555,
	"textColorMuted": #767676,
	"textColorLinkRoot": #000,
	"textColorAccentMinor": darken(#fff, 10%),
	"textColorAccent": #555,

	"backgroundLinkBase": hsla(210, 89%, 53%, 0.15),
	"textColorLinkBase": #085bb5,

	"backgroundSelected": hsla(210, 89%, 53%, 0.15),
	"textColorSelected": #000,

	"backgroundMarked": #f4f4f4,
	"textColorMarked": #333,

	"backgroundButton": #f4f4f4,
	"textColorButton": #000,
	"backgroundButtonActive": hsla(210, 89%, 53%, 0.15),
	"textColorButtonActive": #085bb5,

	"textBackBubble": rgba(0, 0, 0, 0.7),
	"textColorBubble": #fff
);

$darkModeVars: (
	"backgroundRoot": #100e17,
	"backgroundPanel": #000,
	"textColorRoot": rgba(255, 255, 255, 0.90),
	"textColorBase": #c2c2c2,
	"textColorMinor": #c2c2c2,
	"textColorMuted": #837f9c,
	"textColorLinkRoot": rgba(255, 255, 255, 0.92),
	"textColorAccentMinor": lighten(#100e17, 25%),
	"textColorAccent": #c5b5fc,

	"backgroundLinkBase": hsla(210, 89%, 53%, 0.2),
	"textColorLinkBase": lighten(map-get($lightModeVars, "textColorLinkBase"), 30%),

	"backgroundSelected": lighten(map-get($lightModeVars, "textColorLinkBase"), 30%),
	"textColorSelected": #fff,

	"backgroundMarked": #201c29,
	"textColorMarked": #c5b5fc,

	"backgroundButton": #201c29,
	"textColorButton": rgba(255, 255, 255, 0.90),
	"backgroundButtonActive": hsla(258, 19%, 25%, 0.9),
	"textColorButtonActive": #fff,

	"textBackBubble": hsla(258, 19%, 25%, 0.9),
	"textColorBubble": #fff
);

// Light (unscoped, as default)
@include my-color-scheme($lightModeVars);
.dark-off {
	.dark-toggle::before {
		content: '☾ Dark';
	}
}
.social a:hover .icon {
	// Approximate $textColorLinkBase
	filter: contrast(0.2) sepia(2) saturate(4) hue-rotate(170deg);
}

// Dark (scoped to class=dark-on)
.dark-on {
	@include my-color-scheme($darkModeVars);
	.icon {
		// Approximate $textColorMuted
		filter: invert(1) contrast(0.1) sepia(2) hue-rotate(200deg);
	}
	.social a:hover .icon {
		// Approximate $textColorLinkBase
		filter: contrast(0.2) sepia(2) saturate(4) hue-rotate(170deg);
	}
	pre.highlight code {
		filter: brightness(2) saturate(0.5);
	}
	.dark-toggle::before {
		content: '☼ Light';
	}
	.post img {
		filter: brightness(0.8) contrast(1.4) saturate(0.9);
	}
}
