@import 'ext/solarized-light';

$linkColorRoot: #000;
$linkColorContent: #085bb5;
$linkColorShade: #ddedfd;

$textBackShade: #f4f4f4;

$textColorRoot: #222;
$textColorContent: #333;
$textColorContentOnShade: #222;
$textColorMinor: #555;
$textColorMutedOnShade: #777;
$textColorMuted: #aaa;

$fontFamilySans: 'Avenir', sans-serif;

$spaceContentSide: 30px;

$lineShade: #eee;

$breakMobileSmall: 480px;
$breakMobile: 770px;
$breakWide: 1000px;

$leftWidth: 220px;

html {
	// 1. Set default font family to sans-serif.
	// 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
	font-family: sans-serif; // 1
	-ms-text-size-adjust: 100%; // 2
	-webkit-text-size-adjust: 100%; // 2
}

body {
	font-family: $fontFamilySans;
	font-size: 16px;
	line-height: 1.2;
	margin: 0;
	color: $textColorRoot;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	font-size: 1.5em;
	font-family: $fontFamilySans;
	margin: 0.7em 0;
}
h3,
ol.md-toc {
	font-size: 1.17em;
	font-family: $fontFamilySans;
	margin: 0.7em 0;
}
ol.md-toc {
	font-style: italic;
}

a {
	color: $linkColorRoot;
	&:hover {
		color: $linkColorContent;
	}
}
a.sitelink {
	text-decoration: none;
}

blockquote {
	margin: 1em;
	border-left: 5px solid $lineShade;
	padding: 0.5em 1em;
	color: $textColorMinor;
	font-size: 0.8em;
}
blockquote > p:first-child {
    margin-top: 0;
}
blockquote > p:last-child {
    margin-bottom: 0;
}

hr {
	border: 0;
	background: $lineShade;
	margin: 2em auto;
	width: 80%;
	height: 1px;
}

// See also assets/css/style.scss
[class^="icon-"], [class*=" icon-"] {
  speak: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: .2em;
  margin-right: .2em;
  background-size: contain;
}

pre.highlight {
	overflow: auto;
	background-color: $textBackShade;
	padding: 1em 1.5em;
	font-family: Menlo, Monaco, monospace;
	line-height: 1.4em;
	tab-size: 4;
}
code.highlighter-rouge {
	background-color: $textBackShade;
	padding: 0.3em 0.4em;
	font-family: Menlo, Monaco, monospace;
	font-size: 0.8em;
}

main {
	margin: 0 auto;
	display: flex;
	height: 100%;
	max-width: $breakWide;

	@media screen and (max-width: $breakWide + 50px) {
		margin: 0 2vw;
	}
	@media screen and (max-width: $breakMobile) {
		margin: 0 10px;
		flex-direction: column;
	}
}
.content {
	// Use border-box to make it easy to add padding
	// inside, within the given width/max-width.
	box-sizing: border-box;
	padding: 35px $spaceContentSide;

	@media screen and (min-width: $breakMobile) {
		max-width: calc(100% - 220px);
	}
	@media screen and (max-width: $breakMobile) {
		// Remove top padding
		padding: 0 $spaceContentSide;
	}
	@media screen and (max-width: $breakMobileSmall) {
		// Reduce side padding
		padding: 0 20px;
	}
}

.about {
	display: flex;
	flex: 0;
	height: 100vh;
	width: $leftWidth;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 10vh auto 0 auto;
	img {
		max-width: 150px;
	}
	h2 {
		font-size: 22px;
		margin-top: 25px;
		margin-bottom: 0;
		font-weight: normal;
	}
	@media screen and (max-width: $breakMobile) {
		height: auto;
		margin-top: 5vh;
	}
}
.about-sm {
	@media screen and (max-width: $breakMobile) {
		display: block;
		flex: none;
		width: auto;
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px solid $lineShade;
		.sitelink {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		img {
			max-width: 50px;
		}
		h2 {
			margin: 0 0 0 10px;
		}
		.tagline,
		.social,
		.footer {
			display: none;
		}
	}
}

.tagline {
	font-size: 22px;
	margin-top: 17px;
	color: $textColorMuted;
	@media screen and (min-width: $breakMobile + 1) {
		font-size: 20px;
	}
}

.social {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	li {
		float: left;
	}
	i {
		font-size: 34px;
	}
	a:hover i {
		// Approximate $linkColorContent
		filter: contrast(0.2) sepia(1) saturate(4) hue-rotate(180deg);
	}
}

.footer {
	color: $textColorMuted;
}

.posts-label {
	border-bottom: 1px solid $lineShade;
	font-size: 15px;
	color: $textColorMinor;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
	font-weight: normal;
}
.posts-row {
	border-bottom: 1px solid $lineShade;
}
.posts-readmore {
	font-size: 0.8em;
	text-align: center;
}
// Link to post from listings (home page, tag page)
.post-link {
	text-decoration: none;
}
.posts-row .post-link:hover {
	text-decoration: underline;
}
.posts-row .post-link:hover h2 {
	background-color: $linkColorShade;
	// Approximate $linkColorShade
	box-shadow: 0px 0px 0px 5px hsla(211, 92%, 37%, 0.12);
	outline: 2px solid $linkColorShade;
}

.post-meta {
	overflow: hidden;
	// Undo last non-collapsed post-tags margin-bottom
	margin-bottom: -10px;
}
.post-date {
	float: right;
	color: $textColorMinor;
	i {
		// Approximate text color
		opacity: 0.7;
	}
	a {
		text-decoration: none;
	}
}
.post-tags {
	float: left;
	margin: 0;
	padding: 0;
	a {
		font-size: 14px;
		text-decoration: none;
		float: left;
		background-color: $textBackShade;
		padding: 5px 20px;
		border-radius: 2px;
		margin: 0 10px 10px 0;
	}
	a:hover {
		background-color: $linkColorShade;
		text-decoration-line: underline;
		text-decoration-color: $linkColorContent;
	}
}
.page-heading,
.post-title {
	line-height: 1.2em;
	font-size: 28px;
}

.post {
	font-family: 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.7;
	letter-spacing: -0.1px;
	color: $textColorContent;
	a {
		color: $linkColorContent;
		text-decoration: none;
		border-bottom: 0.5px solid $linkColorContent;
	}
	strong {
		letter-spacing: -0.3px;
		font-size: 90%;
	}
	a:hover {
		outline: 1px solid $linkColorShade;
		background-color: $linkColorShade;
		border-bottom: 3px solid $linkColorContent;
		// Approximate $linkColorShade
		box-shadow: 0px 0px 0px 5px hsla(211, 92%, 37%, 0.12);
	}
	a:hover > code {
		background-color: transparent;
	}
	li {
		margin-top: 1em;
	}
	img {
		object-fit: scale-down;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100vh;
		@media screen and (min-width: $breakMobile) {
			cursor: zoom-in;
		}
	}
	a img {
		cursor: inherit;
	}
	figure {
		margin-right: -$spaceContentSide;
		margin-left: -$spaceContentSide;
	}
	figure > p {
		// No easy way in Kramdown to have <figcaption> and <img> in the
		// same box without the <img> getting a magic paragraph. This is
		// fine in un-floated contexts where the figure's margin and p's
		// margin collapse together. But when floated, they add up.
		margin: 0;
	}
	figcaption {
		font-family: $fontFamilySans;
		font-size: 16px;
	}

	@media screen and (min-width: $breakWide) {
		font-size: 20px;
	}

	@media screen and (max-width: $breakMobile) {
		font-size: 17px;
	}
}

.post {
	.md-dictdef {
		border: 5px dashed $lineShade;
		line-height: 1.1;
		color: $textColorContentOnShade;
	}
	.md-dicteg {
		color: $textColorMutedOnShade;
	}
	.md-center {
		text-align: center;
	}
	.md-center-box {
		text-align: center;
		outline: 2px solid $lineShade;
		box-shadow: 2px 2px 10px $lineShade;
	}
	.md-right {
		clear: right;
		text-align: right;
	}
	.md-right-box {
		text-align: center;
		@media screen and (min-width: $breakWide) {
			float: right;
			margin-top: 0;
			margin-left: 0.75em;
		}
	}
	.md-left-box {
		text-align: center;
		@media screen and (min-width: $breakWide) {
			float: left;
			margin-top: 0;
			margin-right: 0.75em;
		}
	}
}
.posts-row {
	.md-dictdef {
		margin-top: 0;
		background-color: transparent;
		color: inherit;
	}
	.md-dicteg {
		color: $textColorMuted;
	}
}

a[data-tip] {
	position: relative;
}
a[data-tip].tip-active {
	background: $linkColorShade;
	outline: 5px solid $linkColorShade;
}

a[data-tip]:hover:before,
a[data-tip].tip-active:before {
	display: block;
	content: "";
	position: absolute;
	bottom: 95%;
	// Align with center of link
	left: 70%;
	border-top: 10px solid rgba(0, 0, 0, 0.7);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
}
a[data-tip].tip-active:before {
	// Align with tip-handle
	left: calc(100% - 10px - 0.5em);
}

a[data-tip]:hover:after,
a[data-tip].tip-active:after {
	display: block;
	content: attr(data-tip);
	position: absolute;
	width: 300px;
	bottom: calc(95% + 10px);
	left: -2em;
	background: rgba(0, 0, 0, 0.7);
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.54));
	border-radius: 4px;
	padding: 0.5em 1em;
	font-size: 0.9em;
	color: #fff;
	@media screen and (max-width: $breakMobile) {
		width: 80vw;
		padding: 5vw;
	}
}

a[data-tip] .tip-handle {
	display: inline-block;
	margin-left: 0.5em;
	background: #fff;
	border: 1px solid $textColorMuted;
	border-radius: 2em;
	width: 1em;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
}
a[data-tip].tip-active .tip-handle {
	border-color: $linkColorContent;
	position: relative;
}
a[data-tip] .tip-handle:before {
	content: "i";
}
a[data-tip].tip-active .tip-handle:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	border-radius: 2em;
	box-shadow: 0px 0px 0px 20px $linkColorShade;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	height: 1px;
	width: 1px;
}
