<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff;
	font: normal 16px/2em 'Avenir', sans-serif;
	color: #333;
	min-height: 80vh;
}
h2 {
	background-color: #f4f4f4;
	border-radius: 100%;
	width: 140px;
	line-height: 140px;
	text-align: center;
}
@media screen and (prefers-color-scheme: dark) {
	body {
		background: #100e17;
		color: #c2c2c2;
	}
	h2 {
		background-color: #201c29;
		color: #fff;
	}
}
</style>
<h2>404</h2>
<p>Page not found.</p>
</html>
