<!DOCTYPE html>
<html lang="en" class="dark-off dark-notoggle">
<meta charset="UTF-8">
<title>
{%- if page.title -%}
  {{ page.title | escape }} | {{ site.title | escape }}
{%- else -%}
  {{ site.title | escape }}
{%- endif -%}
</title>
{% capture darkinit_js -%}
<script>
_d = /dark=(\d)\b/.exec(document.cookie);
DARK = _d && _d[1] === '1';
(DARK || DARK === null && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) && (document.documentElement.className = 'dark-on');
</script>
{%- endcapture -%}
{{ darkinit_js | strip_newlines }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=20200804' | relative_url }}">
{% capture meta %}
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title | escape }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="me" href="https://mastodon.technology/@krinkle">
{% include opengraph.html %}
{% endcapture -%}
{{ meta | strip_newlines }}
<div class="wrap">
  <header class="about{% if layout.plainwhite.small_header %} about-sm{% endif %}" role="banner">
    <a href="{{ '/' | relative_url }}" class="sitelink" title="Visit the home page">
      <img src="{{ '/assets/profile.png?v=20190922' | relative_url }}" alt="" height="192">
      <h2>{{ site.plainwhite.name | escape }}</h2>
    </a>
    <p class="tagline">{{ site.plainwhite.tagline | escape }}</p>
    <ul class="social">
      <li><a href="https://{{ site.plainwhite.social_links.mastodon.instance | escape }}/@{{ site.plainwhite.social_links.mastodon.user | escape }}" title="Fediverse: @{{ site.plainwhite.social_links.mastodon.user | escape }}@{{ site.plainwhite.social_links.mastodon.instance | escape }}"><i class="icon icon-mastodon"></i></a></li>
      <li><a href="https://twitter.com/{{ site.plainwhite.social_links.twitter | escape }}" title="Twitter: @{{ site.plainwhite.social_links.twitter | escape }}"><i class="icon icon-twitter-squared"></i></a></li>
      <li><a href="{{ site.url }}/feed.xml" title="RSS Feed"><i class="icon icon-rss-squared"></i></a></li>
      <li><a href="https://github.com/{{ site.plainwhite.social_links.github | escape }}" title="GitHub: {{ site.plainwhite.social_links.github | escape }}"><i class="icon icon-github-circled"></i></a></li>
    </ul>
    <p><a href="{% link about.md %}">About me</a></p>
    <p class="footer">&copy; 2011–2020</p>
    <button aria-label="Toggle dark mode" class="dark-toggle"></button>
  </header>
  <main class="content">
    {{- content -}}
  </main>
</div>
{%- if site.plainwhite.matomo.url and site.plainwhite.matomo.idsite -%}
  {%- capture matomo_basic -%}
  {{ site.plainwhite.matomo.url }}/matomo.php?idsite={{ site.plainwhite.matomo.idsite | url_encode }}&rec=1
  {%- endcapture -%}
{%- endif -%}
<script>
DOCEL = document.documentElement; if (document.querySelector && DOCEL.classList && DOCEL.matches) (function () {
  document.body.addEventListener('ontouchstart' in window ? 'dblclick' : 'click', function (e) {
    if (e.target.nodeName === 'IMG' && !e.target.matches('a img')) window.open(e.target.src);
  });
  document.body.addEventListener('click', function (e) {
    if (e.target.nodeName === 'SPAN' && e.target.matches('a[title] > span[title]')) e.preventDefault() && e.stopPropagation();
  });
  document.querySelector('.dark-toggle').addEventListener('click', function () {
    DARK = DOCEL.classList.toggle('dark-on'); DOCEL.classList.toggle('dark-off'); document.cookie = 'dark=' + +DARK + '; path=/';
  });
  DOCEL.classList.remove('dark-notoggle');
}());
{% if matomo_basic %}
if (navigator.sendBeacon) navigator.sendBeacon({{ matomo_basic | append: '&send_image=0&url=' | jsonify }} + encodeURIComponent('https://' + location.host + location.pathname) + '&urlref=' + encodeURIComponent(document.referrer));
{%- endif %}</script>
