<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<header class="about"role="banner">
			<a href="{{ "/" | relative_url }}" class="sitelink" title="Visit the home page">
				<img src="{{ "/assets/profile.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
				<h2>{{ site.plainwhite.name }}</h2>
			</a>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<li><a href="https://github.com/{{ site.plainwhite.social_links.github }}" title="{{ site.plainwhite.social_links.github }} on GitHub"><i class="icon-github-circled"></i></a></li>
				<li><a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}" title="@{{ site.plainwhite.social_links.twitter }} on Twitter"><i class="icon-twitter-squared"></i></a></li>
			</ul>
			<p>&copy; 2019</p>
		</header>
		<section class="content">
			{{ content }}
		</section>
	</main>
</body>
</html>
