---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
<a name="latest-posts"></a>
<p class="posts-label">Latest posts</p>
{%- for post in site.posts -%}
  {%- assign _excluded = false -%}
  {%- for tag in site.plainwhite.exclude_tags -%}
    {%- if post.tags contains tag -%}
      {%- assign _excluded = true -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if _excluded -%}
    {%- continue -%}
  {%- endif -%}
<div class="posts-row {% if post.tags contains 'engineering-stories' %} posts-row-short{% endif %}">
  {%- assign date_format = site.plainwhite.date_format | default: "%-e %b %Y" -%}
  <a class="post-link" href="{{ post.url | relative_url }}">
    <h2 class="post-title">{{ post.title | escape }}</h2>
  </a>
  <a class="post-date" href="{{ post.url | relative_url }}" tabindex="-1"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: date_format }}</time></a>
</div>
{%- endfor -%}
{%- endif -%}

{%- if site.tags.size > 0 -%}
<p class="posts-label">tags</p>
<p>
{%- capture tags_str -%}
{%- for tag in site.tags -%}
  {{ tag[0] }}
  {%- unless forloop.last %}|{% endunless -%}
{%- endfor -%}
{%- endcapture -%}
{%- assign tags = tags_str | split: '|' | sort -%}
{%- for tag in tags -%}
  {%- if tags.first != tag %}, {% endif -%}
    {%- assign tagpage = site.pages | where: "tag", tag | first -%}
    {%- assign tagtitle = tagpage.title | default: tag -%}
  <a class="post-tag" href="{% link {{ tag | prepend: 'tags/' | append: '.md' }} %}">{{ tagtitle | escape }}</a>
{%- endfor -%}
.</p>
{%- endif -%}
