---
layout: default
plainwhite:
  small_header: true
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<a class="post-link" href="{{ page.url | relative_url }}">
  <h1>{{ page.title | escape }}</h1>
</a>
<div class="post-meta">
  <span class="post-date"><i class="icon icon-calendar"><span class="screen-reader-text">Published on</span></i><time datetime="{{ page.date | date: '%Y-%m-%d' }}" title="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: date_format }}</time></span>
  in
  {% for tag in page.tags -%}
    {%- if page.tags.first != tag and page.tags.last != tag %}, {% endif -%}
    {%- if page.tags.first != tag and page.tags.last == tag %}, and {% endif -%}
    <a rel="tag" class="post-tag" href="{% link {{ tag | prepend: 'tags/' | append: '.md' }} %}">{{ tag | escape }}</a>
    {%- if page.tags.last == tag %}.{% endif -%}
  {%- endfor -%}
</div>
<hr>
<article class="post">
  {{- content | fix_extlink -}}
</article>
<hr>
{%- if page.plainwhite.original_url or page.plainwhite.also_url -%}
<p>
  {% if page.plainwhite.original_url -%}
  Originally published {% if page.plainwhite.original_label -%}
  on <a href="{{ page.plainwhite.original_url | escape}}" target="_blank" rel="noopener">{{ page.plainwhite.original_label | escape }}</a>
  {%- else -%}
  on <a href="{{ page.plainwhite.original_url | escape }}" target="_blank" rel="noopener">{{ page.plainwhite.original_url | url_origin | escape }}</a>
  {%- endif -%}
  .
  {%- endif %}
  {% if page.plainwhite.also_url -%}
  Also published {% if page.plainwhite.also_label -%}
  on <a href="{{ page.plainwhite.also_url | escape}}" target="_blank" rel="noopener">{{ page.plainwhite.also_label | escape }}</a>
  {%- else -%}
  on <a href="{{ page.plainwhite.also_url | escape }}" target="_blank" rel="noopener">{{ page.plainwhite.also_url | url_origin | escape }}</a>
  {%- endif -%}
  .
  {%- endif -%}
</p>
{%- endif -%}
<p><a rel="license noopener" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Some rights reserved</a><span tabindex="0" class="tip-handle">i</span><span data-tip="Except where otherwise noted, this work is licensed under a Creative Commons license (CC BY 4.0)"></span>. {% if page.author_role == 'editor' %}Edited by{% else %}Written by{% endif %} <span rel="author">{{ page.author | escape }}<span>. Published on <time datetime="{{ page.date | date: '%Y-%m-%d' }}" title="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%-e %B %Y' }}</time>.</p>
