---
layout: default
plainwhite:
  small_header: true
---

<h1 class="page-heading">Tag: {{ page.tag | escape }}</h1>
<h1 class="posts-label">{%- if site.tags[page.tag].size == 1 -%} 1 post {%- else -%} {{ site.tags[page.tag].size }} posts {%- endif -%}</h1>

{%- for post in site.tags[page.tag] -%}
<div class="posts-row">
  {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
  <a class="post-link" href="{{ post.url | relative_url }}">
    <h2 class="post-title">{{ post.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <div class="post-date"><a href="{{ post.url | relative_url }}" tabindex="-1"><i class="icon icon-calendar"></i><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: date_format }}</time></a></div>
  </div>
  <div class="post">
    {%- if site.plainwhite.show_excerpts -%}
    {{- post.excerpt -}}
    {%- if post.excerpt != post.content -%}
    <div class="posts-readmore"><p><a href="{{ post.url | relative_url }}">Continue reading<span class="screen-reader-text"> {{ post.title | escape }}</span>…</a></p></div>
    {%- endif -%}
    {%- endif -%}
  </div>
</div>
{%- endfor -%}
